body{font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;}

header{background-color:
     aliceblue;
    padding: 10px;
    margin: 10px;}
main{background-color: aliceblue;
    padding: 10px;
    margin: 10px;}

footer{background-color: black;color: aliceblue;
     text-align: center;
    padding: 10px;
    margin: 10px;}

article{background-color: lightgray;padding: 5px;}
article > aside{background-color: rgb(114, 112, 112);}

nav{background-color: lightslategray;
    padding: 3px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.397);}

nav>a{text-decoration: none;
    color: aliceblue;
    font-weight: bold;margin-right: 30px;
    }

nav:hover{text-decoration: underline;}

main{border-radius: 10px;box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.479);}

div#bola{border-radius: 50px;
    height: 100px;
    width: 100px;
    background-color: aliceblue;}
div#bola:hover{background-color: aqua;}
