@charset "UTF-8";

/*declarações gerais*/
*{margin: 0px;padding: 0px;font-family: Arial, Helvetica, sans-serif;}

html,body{
    width: 100vw;
    height: 100vh;
background-color: #232eff;background-size: contain;background-repeat: no-repeat;

}
h1{
    color: white;
text-shadow: 3px 3px 0px #1a22c2;
padding: 10px;
}


/*declarações para retrato*/
@media screen and (orientation:portrait) {
    body{background-image: url(../imagens/cev-portrait.jpg);background-position: center bottom;}
    
}

/*declarações para paisagem*/

@media screen and (orientation:landscape) {
    body{background-image: url(../imagens/cev-landscape.jpg);background-position: left bottom;}
    
}