@charset "UTF-8";
/*estilo para tela*/
*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: lightgray;
}
header>h1{
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: grey;
}

menu li{
    display: inline-block;
    padding: 10px;
    background-color: black;
    color: white;
}

article{width: 600px;display: block;margin: auto;}