@charset "UTF-8";
*{margin: 0px;padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body,html{
    background-color:lightgray;
}

header{
    background-color: rgba(128, 128, 128, 0.377);
}

header>h1{
    padding: 10px;
    text-align: center;
}

menu{
    display: block;
}
menu>ul{
    list-style-type: none;
}

menu>ul>li>a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.76);
    text-align: center;
    color: white;
    border-top: 2px solid rgba(128, 128, 128, 0.877);
}

menu>ul>li>a:hover{background-color: gray;}

main{
    background-color: white;
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

article>h2{
    padding-bottom: 20px;
}
article>p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;

}